Source: golang-github-ulikunitz-xz
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Reinhard Tartler <siretart@tauware.de>,
           Anthony Fok <foka@debian.org>
Section: devel
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               golang-any
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-ulikunitz-xz
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-ulikunitz-xz.git
Homepage: https://github.com/ulikunitz/xz
XS-Go-Import-Path: github.com/ulikunitz/xz

Package: golang-github-ulikunitz-xz-dev
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Pure golang package for reading and writing xz-compressed files
 A Go library that supports the reading and writing of xz compressed
 streams. It includes also a gxz command for compressing and
 decompressing data. The package is completely written in Go and doesn't
 have any dependency on any C code.
